<nav id="secondary">
  <div class="container">
    <div class="row">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/safety">Safety</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<footer>
  <div class="container">
    <div class="row">
      <div class="contact-info">
        <ul>
          <li>
            <a href="https://www.google.com/maps/preview?ie=UTF-8&fb=1&gl=us&q=1135+Enos+Ln,+Bakersfield,+CA+93314&ei=fosaVN_7A43noAThsIHYDw&ved=0CB8Q8gEwAA" target="_blank">
              1135 Enos Lane, Bakersfield, CA
            </a>
          </li>
          <li><a href="tel:6615876120">(661) 587-6120</li>
          <li><a href="mailto:dispatch@soscrane.com">dispatch@soscrane.com</a></li>
        </ul>
      </div>
      <div class="copyright">
        <p>Copyright &copy; 2014 SOS Crane &amp; Trucking. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
